@page
@model PrivacyModel
@{
    ViewData["Title"] = "My Games";
}
<h1>@ViewData["Title"]</h1>
<hr />
<iframe frameborder="0" src="https://itch.io/embed/2586473" width="552" height="167"><a href="https://palepeak.itch.io/color-splash-prototype">Color Splash Prototype by palepeak</a></iframe>